.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.text{
  text-align: left;
}

input{
  padding: 15px;
  margin: 10px 0px;
  border-radius: 5px;
  border: 1px solid gray;
}